* {
  box-sizing: border-box;
}

html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: minmax(2vmin, 20px);
}

body {
  margin: 0;
}

.layout {
  background: linear-gradient(#111, #333);
  color: #eee;
  min-height: 100vh;
  width: 100vw;
  padding: 1rem;
}

.dark-card-content {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 3rem;
  background: linear-gradient(#333, #111);
  border-radius: 8px;
  box-shadow: 0 0 5px black;
}

#user-list {
  max-height: 80vh;
  overflow-y: auto;
}
